<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JobrecruitmentEntities" connectionString="metadata=res://*/DotNetFrameworkModal.csdl|res://*/DotNetFrameworkModal.ssdl|res://*/DotNetFrameworkModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHIVANSHSHARMA\SQLEXPRESS2017;initial catalog=Jobrecruitment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>